function Phone.draw 0
push constant 30
push constant 32
call Math.multiply 2
push constant 600
add
call Phone.drawCloud 1
pop temp 0
push constant 60
push constant 32
call Math.multiply 2
push constant 162
add
call Phone.drawCloud 1
pop temp 0
push constant 80
push constant 32
call Math.multiply 2
push constant 100
add
call Phone.drawCloud 1
pop temp 0
push constant 10
push constant 32
call Math.multiply 2
push constant 100
add
call Phone.drawCloud 1
pop temp 0
push constant 80
push constant 32
call Math.multiply 2
push constant 120
add
call Phone.drawCloud 1
pop temp 0
push constant 200
push constant 32
call Math.multiply 2
push constant 700
add
call Phone.drawBuildings 1
pop temp 0
push constant 200
push constant 32
call Math.multiply 2
call Phone.drawBuildings 1
pop temp 0
push constant 210
push constant 32
call Math.multiply 2
push constant 3
add
call Phone.drawBuildings 1
pop temp 0
push constant 190
push constant 32
call Math.multiply 2
push constant 2
sub
call Phone.drawBuildings 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
call Game.getLeftBorder 0
push constant 1
sub
push constant 0
call Game.getLeftBorder 0
push constant 1
sub
push constant 255
call Screen.drawLine 4
pop temp 0
call Game.getRightBorder 0
push constant 1
add
push constant 0
call Game.getRightBorder 0
push constant 1
add
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Phone.drawCloud 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 160
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 19968
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 12672
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 24640
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 508
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 3680
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 4124
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 24578
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 16385
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 194
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 226
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 258
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 290
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 322
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 354
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 386
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 418
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 450
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 482
add
push constant 17
call Memory.poke 2
pop temp 0
push local 0
push constant 514
add
push constant 17
call Memory.poke 2
pop temp 0
push local 0
push constant 546
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 578
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 610
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 642
add
push constant 31
call Memory.poke 2
pop temp 0
push constant 0
return
function Phone.drawBuildings 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 21888
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 21888
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 21888
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 21888
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 13696
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 19072
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16512
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 19072
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 19072
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16512
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16385
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 16385
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 16385
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 16385
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 16385
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 5461
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 4096
call Memory.poke 2
pop temp 0
push constant 0
return
function Phone.drawStar 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 24576
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 24576
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 24576
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 12288
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 12288
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 14336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 14336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 14336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 14337
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 14350
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 20364
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 7696
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32672
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 4224
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 23808
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 12544
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 14592
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 14464
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 7296
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 28288
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 3264
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 704
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 320
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 96
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 1536
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 248
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 30
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 9
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 19
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 19
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 23
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 46
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 56
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 112
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 96
call Memory.poke 2
pop temp 0
push constant 0
return
function Phone.earse 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
