function ScoreGame.draw 1
push constant 16384
pop local 0
push local 0
push constant 16191
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16191
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 771
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 771
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 831
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 831
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 816
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 816
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16191
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16191
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 16191
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 16191
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 13107
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 13107
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 16179
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 16179
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 819
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 3891
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 16191
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 13119
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 34
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 66
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 98
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 130
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 162
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 194
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 226
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 258
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 290
add
push constant 63
call Memory.poke 2
pop temp 0
push constant 0
return
function ScoreGame.earse 1
push constant 0
call Screen.setColor 1
pop temp 0
push constant 16384
pop local 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function ScoreGame.drawScore 0
push constant 0
return
