function GameOver.draw 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 16128
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16576
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 28
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1025
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 1057
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1089
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 1121
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 1153
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 1185
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1217
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1249
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1281
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1313
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1345
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1377
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1409
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1026
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1058
add
push constant 30
call Memory.poke 2
pop temp 0
push local 0
push constant 1090
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 1122
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 1154
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1186
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1218
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1250
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1282
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1314
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 1346
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 1378
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1410
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 612
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 644
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 676
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 708
add
push constant 25024
call Memory.poke 2
pop temp 0
push local 0
push constant 740
add
push constant 25024
call Memory.poke 2
pop temp 0
push local 0
push constant 772
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 804
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 836
add
push constant 31168
call Memory.poke 2
pop temp 0
push local 0
push constant 868
add
push constant 31168
call Memory.poke 2
pop temp 0
push local 0
push constant 900
add
push constant 31168
call Memory.poke 2
pop temp 0
push local 0
push constant 932
add
push constant 25024
call Memory.poke 2
pop temp 0
push local 0
push constant 964
add
push constant 25024
call Memory.poke 2
pop temp 0
push local 0
push constant 996
add
push constant 25024
call Memory.poke 2
pop temp 0
push local 0
push constant 1028
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 1060
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 1092
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 1124
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 1252
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 1284
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 1316
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 1348
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 1380
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 1412
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 1444
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 1476
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 1508
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 1540
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 1572
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 1604
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 1636
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 1668
add
push constant 29120
call Memory.poke 2
pop temp 0
push local 0
push constant 1700
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 1732
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 1764
add
push constant 32704
call Memory.poke 2
pop temp 0
push local 0
push constant 613
add
push constant 13310
call Memory.poke 2
pop temp 0
push local 0
push constant 645
add
push constant 29694
call Memory.poke 2
pop temp 0
push local 0
push constant 677
add
push constant 3074
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 709
add
push constant 3186
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 741
add
push constant 3186
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 773
add
push constant 3186
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 805
add
push constant 3186
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 837
add
push constant 29694
call Memory.poke 2
pop temp 0
push local 0
push constant 869
add
push constant 29694
call Memory.poke 2
pop temp 0
push local 0
push constant 901
add
push constant 29694
call Memory.poke 2
pop temp 0
push local 0
push constant 933
add
push constant 29582
call Memory.poke 2
pop temp 0
push local 0
push constant 965
add
push constant 29582
call Memory.poke 2
pop temp 0
push local 0
push constant 997
add
push constant 29582
call Memory.poke 2
pop temp 0
push local 0
push constant 1029
add
push constant 29582
call Memory.poke 2
pop temp 0
push local 0
push constant 1061
add
push constant 29582
call Memory.poke 2
pop temp 0
push local 0
push constant 1093
add
push constant 29582
call Memory.poke 2
pop temp 0
push local 0
push constant 1125
add
push constant 29582
call Memory.poke 2
pop temp 0
push local 0
push constant 1253
add
push constant 14350
call Memory.poke 2
pop temp 0
push local 0
push constant 1285
add
push constant 14350
call Memory.poke 2
pop temp 0
push local 0
push constant 1317
add
push constant 14350
call Memory.poke 2
pop temp 0
push local 0
push constant 1349
add
push constant 7196
call Memory.poke 2
pop temp 0
push local 0
push constant 1381
add
push constant 7196
call Memory.poke 2
pop temp 0
push local 0
push constant 1413
add
push constant 7196
call Memory.poke 2
pop temp 0
push local 0
push constant 1445
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 1477
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 1509
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 1541
add
push constant 1904
call Memory.poke 2
pop temp 0
push local 0
push constant 1573
add
push constant 1904
call Memory.poke 2
pop temp 0
push local 0
push constant 1605
add
push constant 1904
call Memory.poke 2
pop temp 0
push local 0
push constant 1637
add
push constant 864
call Memory.poke 2
pop temp 0
push local 0
push constant 1669
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 1701
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 1733
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 1765
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 614
add
push constant 1856
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 646
add
push constant 1824
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 678
add
push constant 1808
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 710
add
push constant 14585
call Memory.poke 2
pop temp 0
push local 0
push constant 742
add
push constant 14591
call Memory.poke 2
pop temp 0
push local 0
push constant 774
add
push constant 14591
call Memory.poke 2
pop temp 0
push local 0
push constant 806
add
push constant 14591
call Memory.poke 2
pop temp 0
push local 0
push constant 838
add
push constant 1809
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 870
add
push constant 1818
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 902
add
push constant 1824
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 934
add
push constant 14560
call Memory.poke 2
pop temp 0
push local 0
push constant 966
add
push constant 14560
call Memory.poke 2
pop temp 0
push local 0
push constant 998
add
push constant 14560
call Memory.poke 2
pop temp 0
push local 0
push constant 1030
add
push constant 14560
call Memory.poke 2
pop temp 0
push local 0
push constant 1062
add
push constant 1824
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1094
add
push constant 1824
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1126
add
push constant 1824
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1254
add
push constant 1793
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1286
add
push constant 1793
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1318
add
push constant 6399
call Memory.poke 2
pop temp 0
push local 0
push constant 1350
add
push constant 6151
call Memory.poke 2
pop temp 0
push local 0
push constant 1382
add
push constant 6151
call Memory.poke 2
pop temp 0
push local 0
push constant 1414
add
push constant 6151
call Memory.poke 2
pop temp 0
push local 0
push constant 1446
add
push constant 2041
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1478
add
push constant 1793
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1510
add
push constant 1793
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1542
add
push constant 18177
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1574
add
push constant 18425
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1606
add
push constant 14343
call Memory.poke 2
pop temp 0
push local 0
push constant 1638
add
push constant 14343
call Memory.poke 2
pop temp 0
push local 0
push constant 1670
add
push constant 14343
call Memory.poke 2
pop temp 0
push local 0
push constant 1702
add
push constant 14591
call Memory.poke 2
pop temp 0
push local 0
push constant 1734
add
push constant 14591
call Memory.poke 2
pop temp 0
push local 0
push constant 1766
add
push constant 14591
call Memory.poke 2
pop temp 0
push local 0
push constant 487
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 519
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 551
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 583
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 615
add
push constant 8207
call Memory.poke 2
pop temp 0
push local 0
push constant 647
add
push constant 8207
call Memory.poke 2
pop temp 0
push local 0
push constant 679
add
push constant 16399
call Memory.poke 2
pop temp 0
push local 0
push constant 711
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 743
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 839
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 871
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 903
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1063
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1095
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1127
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1255
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 1287
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 1319
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 1351
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 1383
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 1415
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 1447
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 1479
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1511
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1543
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 1575
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 1607
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 1639
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 1671
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 1703
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 1735
add
push constant 28
call Memory.poke 2
pop temp 0
push local 0
push constant 1767
add
push constant 28
call Memory.poke 2
pop temp 0
push local 0
push constant 392
add
push constant 7936
call Memory.poke 2
pop temp 0
push local 0
push constant 424
add
push constant 8000
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 456
add
push constant 60
call Memory.poke 2
pop temp 0
push local 0
push constant 488
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 744
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1384
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1416
add
push constant 24576
call Memory.poke 2
pop temp 0
push local 0
push constant 1448
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 1480
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 1512
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 1544
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 1576
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 1608
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 1640
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 425
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 457
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 489
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 521
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 553
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 585
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 617
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 649
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 681
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 713
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 745
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 1321
add
push constant 3584
call Memory.poke 2
pop temp 0
push local 0
push constant 1353
add
push constant 29152
call Memory.poke 2
pop temp 0
push local 0
push constant 1385
add
push constant 32737
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1609
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1641
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 1418
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1450
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1482
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1514
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1546
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1578
add
push constant 1
call Memory.poke 2
pop temp 0
push constant 0
return
