function Info.draw 1
push constant 16384
push constant 4236
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 5
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 21
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 5
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16389
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 24581
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8187
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 507
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2047
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 8191
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 8191
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 24577
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 12289
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 15361
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 6655
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 1537
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 513
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 769
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 385
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 225
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 33
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 33
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 33
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 97
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 449
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
add
push constant 3841
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
add
push constant 14337
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
add
push constant 255
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
add
push constant 257
call Memory.poke 2
pop temp 0
push local 0
push constant 1248
add
push constant 257
call Memory.poke 2
pop temp 0
push local 0
push constant 1280
add
push constant 12545
call Memory.poke 2
pop temp 0
push local 0
push constant 1312
add
push constant 20737
call Memory.poke 2
pop temp 0
push local 0
push constant 1344
add
push constant 12545
call Memory.poke 2
pop temp 0
push local 0
push constant 1376
add
push constant 20737
call Memory.poke 2
pop temp 0
push local 0
push constant 1408
add
push constant 28415
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1440
add
push constant 28671
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1472
add
push constant 28673
call Memory.poke 2
pop temp 0
push local 0
push constant 1504
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1536
add
push constant 257
call Memory.poke 2
pop temp 0
push local 0
push constant 1568
add
push constant 3839
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1600
add
push constant 4353
call Memory.poke 2
pop temp 0
push local 0
push constant 1632
add
push constant 4097
call Memory.poke 2
pop temp 0
push local 0
push constant 1664
add
push constant 4095
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1696
add
push constant 4097
call Memory.poke 2
pop temp 0
push local 0
push constant 1728
add
push constant 4353
call Memory.poke 2
pop temp 0
push local 0
push constant 1760
add
push constant 4353
call Memory.poke 2
pop temp 0
push local 0
push constant 1792
add
push constant 4353
call Memory.poke 2
pop temp 0
push local 0
push constant 1824
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1856
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1888
add
push constant 24833
call Memory.poke 2
pop temp 0
push local 0
push constant 1920
add
push constant 28415
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1952
add
push constant 28929
call Memory.poke 2
pop temp 0
push local 0
push constant 1984
add
push constant 4097
call Memory.poke 2
pop temp 0
push local 0
push constant 2016
add
push constant 4097
call Memory.poke 2
pop temp 0
push local 0
push constant 2048
add
push constant 257
call Memory.poke 2
pop temp 0
push local 0
push constant 2080
add
push constant 257
call Memory.poke 2
pop temp 0
push local 0
push constant 2112
add
push constant 3839
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2144
add
push constant 4097
call Memory.poke 2
pop temp 0
push local 0
push constant 2176
add
push constant 4097
call Memory.poke 2
pop temp 0
push local 0
push constant 2208
add
push constant 3839
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2240
add
push constant 4353
call Memory.poke 2
pop temp 0
push local 0
push constant 2272
add
push constant 4353
call Memory.poke 2
pop temp 0
push local 0
push constant 2304
add
push constant 4353
call Memory.poke 2
pop temp 0
push local 0
push constant 2336
add
push constant 4353
call Memory.poke 2
pop temp 0
push local 0
push constant 2368
add
push constant 257
call Memory.poke 2
pop temp 0
push local 0
push constant 2400
add
push constant 255
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2432
add
push constant 5
call Memory.poke 2
pop temp 0
push local 0
push constant 2464
add
push constant 173
call Memory.poke 2
pop temp 0
push local 0
push constant 2496
add
push constant 85
call Memory.poke 2
pop temp 0
push local 0
push constant 2528
add
push constant 77
call Memory.poke 2
pop temp 0
push local 0
push constant 2560
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2592
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2624
add
push constant 8879
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2656
add
push constant 18737
call Memory.poke 2
pop temp 0
push local 0
push constant 2688
add
push constant 13999
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2720
add
push constant 18769
call Memory.poke 2
pop temp 0
push local 0
push constant 2752
add
push constant 13999
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2784
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2816
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2848
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2880
add
push constant 16385
call Memory.poke 2
pop temp 0
push local 0
push constant 2912
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2944
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2976
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 3008
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3040
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3072
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3104
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3136
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 3168
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 6208
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 9216
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 9216
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 9223
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 9219
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 9217
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 9219
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 9223
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 9216
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 6208
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 16353
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 96
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 4032
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 1025
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1057
add
push constant 32512
call Memory.poke 2
pop temp 0
push local 0
push constant 1089
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 1185
add
push constant 29121
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1313
add
push constant 4224
call Memory.poke 2
pop temp 0
push local 0
push constant 1345
add
push constant 4242
call Memory.poke 2
pop temp 0
push local 0
push constant 1377
add
push constant 7314
call Memory.poke 2
pop temp 0
push local 0
push constant 1409
add
push constant 4754
call Memory.poke 2
pop temp 0
push local 0
push constant 1441
add
push constant 6802
call Memory.poke 2
pop temp 0
push local 0
push constant 1473
add
push constant 5806
call Memory.poke 2
pop temp 0
push local 0
push constant 1601
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1633
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1665
add
push constant 6336
call Memory.poke 2
pop temp 0
push local 0
push constant 1697
add
push constant 31446
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1729
add
push constant 6630
call Memory.poke 2
pop temp 0
push local 0
push constant 1761
add
push constant 8226
call Memory.poke 2
pop temp 0
push local 0
push constant 1793
add
push constant 25150
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1889
add
push constant 26450
call Memory.poke 2
pop temp 0
push local 0
push constant 1921
add
push constant 28310
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1953
add
push constant 29034
call Memory.poke 2
pop temp 0
push local 0
push constant 1985
add
push constant 4458
call Memory.poke 2
pop temp 0
push local 0
push constant 2017
add
push constant 26458
call Memory.poke 2
pop temp 0
push local 0
push constant 2145
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2177
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2209
add
push constant 6336
call Memory.poke 2
pop temp 0
push local 0
push constant 2241
add
push constant 31446
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2273
add
push constant 6630
call Memory.poke 2
pop temp 0
push local 0
push constant 2305
add
push constant 8226
call Memory.poke 2
pop temp 0
push local 0
push constant 2337
add
push constant 25150
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2401
add
push constant 14561
call Memory.poke 2
pop temp 0
push local 0
push constant 2625
add
push constant 18027
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2657
add
push constant 28084
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2689
add
push constant 5076
call Memory.poke 2
pop temp 0
push local 0
push constant 2721
add
push constant 4692
call Memory.poke 2
pop temp 0
push local 0
push constant 2753
add
push constant 28075
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2881
add
push constant 8596
call Memory.poke 2
pop temp 0
push local 0
push constant 2913
add
push constant 23982
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2945
add
push constant 17454
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2977
add
push constant 21934
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 3009
add
push constant 17839
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 3169
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 98
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 130
add
push constant 32766
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 162
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 194
add
push constant 30792
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 226
add
push constant 30616
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 258
add
push constant 30680
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 290
add
push constant 5240
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 322
add
push constant 10824
call Memory.poke 2
pop temp 0
push local 0
push constant 354
add
push constant 5592
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 386
add
push constant 30168
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 418
add
push constant 30168
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 450
add
push constant 30165
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 482
add
push constant 30166
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 514
add
push constant 29125
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 578
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 610
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 642
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 674
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 802
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 834
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 866
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 898
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 930
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 962
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 994
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 1026
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 1186
add
push constant 14563
call Memory.poke 2
pop temp 0
push local 0
push constant 1346
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 1378
add
push constant 28752
call Memory.poke 2
pop temp 0
push local 0
push constant 1410
add
push constant 8296
call Memory.poke 2
pop temp 0
push local 0
push constant 1442
add
push constant 8296
call Memory.poke 2
pop temp 0
push local 0
push constant 1474
add
push constant 24664
call Memory.poke 2
pop temp 0
push local 0
push constant 1666
add
push constant 12291
call Memory.poke 2
pop temp 0
push local 0
push constant 1698
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 1730
add
push constant 12291
call Memory.poke 2
pop temp 0
push local 0
push constant 1762
add
push constant 16388
call Memory.poke 2
pop temp 0
push local 0
push constant 1794
add
push constant 14659
call Memory.poke 2
pop temp 0
push local 0
push constant 1826
add
push constant 320
call Memory.poke 2
pop temp 0
push local 0
push constant 1858
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 1890
add
push constant 17488
call Memory.poke 2
pop temp 0
push local 0
push constant 1922
add
push constant 17512
call Memory.poke 2
pop temp 0
push local 0
push constant 1954
add
push constant 23656
call Memory.poke 2
pop temp 0
push local 0
push constant 1986
add
push constant 21608
call Memory.poke 2
pop temp 0
push local 0
push constant 2018
add
push constant 23640
call Memory.poke 2
pop temp 0
push local 0
push constant 2114
add
push constant 30720
call Memory.poke 2
pop temp 0
push local 0
push constant 2146
add
push constant 30720
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2178
add
push constant 30720
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2210
add
push constant 30723
call Memory.poke 2
pop temp 0
push local 0
push constant 2242
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 2274
add
push constant 2051
call Memory.poke 2
pop temp 0
push local 0
push constant 2306
add
push constant 2052
call Memory.poke 2
pop temp 0
push local 0
push constant 2338
add
push constant 2051
call Memory.poke 2
pop temp 0
push local 0
push constant 2402
add
push constant 29134
call Memory.poke 2
pop temp 0
push local 0
push constant 2626
add
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 2658
add
push constant 74
call Memory.poke 2
pop temp 0
push local 0
push constant 2690
add
push constant 123
call Memory.poke 2
pop temp 0
push local 0
push constant 2722
add
push constant 74
call Memory.poke 2
pop temp 0
push local 0
push constant 2754
add
push constant 585
call Memory.poke 2
pop temp 0
push local 0
push constant 2786
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 2818
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 2882
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 2914
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 2946
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 2978
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 3010
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 3170
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 3
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 99
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 131
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 163
add
push constant 15900
call Memory.poke 2
pop temp 0
push local 0
push constant 195
add
push constant 16644
call Memory.poke 2
pop temp 0
push local 0
push constant 227
add
push constant 32636
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 259
add
push constant 25468
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 291
add
push constant 23908
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 323
add
push constant 23920
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 355
add
push constant 23924
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 387
add
push constant 23934
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 419
add
push constant 25470
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 451
add
push constant 32638
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 483
add
push constant 16642
call Memory.poke 2
pop temp 0
push local 0
push constant 515
add
push constant 15875
call Memory.poke 2
pop temp 0
push local 0
push constant 547
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 579
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 611
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 643
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 1187
add
push constant 7282
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1347
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1379
add
push constant 10278
call Memory.poke 2
pop temp 0
push local 0
push constant 1411
add
push constant 6103
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1443
add
push constant 9545
call Memory.poke 2
pop temp 0
push local 0
push constant 1475
add
push constant 14650
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1667
add
push constant 25274
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1699
add
push constant 17833
call Memory.poke 2
pop temp 0
push local 0
push constant 1731
add
push constant 14937
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1763
add
push constant 17825
call Memory.poke 2
pop temp 0
push local 0
push constant 1795
add
push constant 25247
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1891
add
push constant 2790
call Memory.poke 2
pop temp 0
push local 0
push constant 1923
add
push constant 2601
call Memory.poke 2
pop temp 0
push local 0
push constant 1955
add
push constant 1577
call Memory.poke 2
pop temp 0
push local 0
push constant 1987
add
push constant 2601
call Memory.poke 2
pop temp 0
push local 0
push constant 2019
add
push constant 4838
call Memory.poke 2
pop temp 0
push local 0
push constant 2211
add
push constant 29632
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2243
add
push constant 4832
call Memory.poke 2
pop temp 0
push local 0
push constant 2275
add
push constant 4672
call Memory.poke 2
pop temp 0
push local 0
push constant 2307
add
push constant 4672
call Memory.poke 2
pop temp 0
push local 0
push constant 2339
add
push constant 29504
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2403
add
push constant 7268
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2627
add
push constant 17768
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2659
add
push constant 22140
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2691
add
push constant 21864
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2723
add
push constant 21856
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2755
add
push constant 17764
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2883
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 2915
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 2947
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 2979
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 3011
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 3043
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 3075
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3171
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 4
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 260
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 292
add
push constant 32640
call Memory.poke 2
pop temp 0
push local 0
push constant 324
add
push constant 8384
call Memory.poke 2
pop temp 0
push local 0
push constant 356
add
push constant 12320
call Memory.poke 2
pop temp 0
push local 0
push constant 388
add
push constant 4144
call Memory.poke 2
pop temp 0
push local 0
push constant 420
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 452
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 484
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 516
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 548
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 580
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 612
add
push constant 7968
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 644
add
push constant 16256
call Memory.poke 2
pop temp 0
push local 0
push constant 836
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 868
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 900
add
push constant 1022
call Memory.poke 2
pop temp 0
push local 0
push constant 932
add
push constant 508
call Memory.poke 2
pop temp 0
push local 0
push constant 964
add
push constant 248
call Memory.poke 2
pop temp 0
push local 0
push constant 996
add
push constant 504
call Memory.poke 2
pop temp 0
push local 0
push constant 1028
add
push constant 924
call Memory.poke 2
pop temp 0
push local 0
push constant 1060
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 1188
add
push constant 456
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1380
add
push constant 21
call Memory.poke 2
pop temp 0
push local 0
push constant 1412
add
push constant 13
call Memory.poke 2
pop temp 0
push local 0
push constant 1444
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 1476
add
push constant 5
call Memory.poke 2
pop temp 0
push local 0
push constant 1636
add
push constant 40
call Memory.poke 2
pop temp 0
push local 0
push constant 1668
add
push constant 15319
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1700
add
push constant 11778
call Memory.poke 2
pop temp 0
push local 0
push constant 1732
add
push constant 9219
call Memory.poke 2
pop temp 0
push local 0
push constant 1764
add
push constant 9216
call Memory.poke 2
pop temp 0
push local 0
push constant 1796
add
push constant 13309
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2180
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 2212
add
push constant 2592
call Memory.poke 2
pop temp 0
push local 0
push constant 2244
add
push constant 21133
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2276
add
push constant 27940
call Memory.poke 2
pop temp 0
push local 0
push constant 2308
add
push constant 11556
call Memory.poke 2
pop temp 0
push local 0
push constant 2340
add
push constant 11107
call Memory.poke 2
pop temp 0
push local 0
push constant 2404
add
push constant 29128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2628
add
push constant 12328
call Memory.poke 2
pop temp 0
push local 0
push constant 2660
add
push constant 18472
call Memory.poke 2
pop temp 0
push local 0
push constant 2692
add
push constant 30736
call Memory.poke 2
pop temp 0
push local 0
push constant 2724
add
push constant 18472
call Memory.poke 2
pop temp 0
push local 0
push constant 2756
add
push constant 18475
call Memory.poke 2
pop temp 0
push local 0
push constant 2852
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 2884
add
push constant 36
call Memory.poke 2
pop temp 0
push local 0
push constant 2916
add
push constant 18
call Memory.poke 2
pop temp 0
push local 0
push constant 2948
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 3044
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 3076
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 3172
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 5
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 37
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 69
add
push constant 16448
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 101
add
push constant 24576
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 133
add
push constant 22528
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 165
add
push constant 24576
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 197
add
push constant 24576
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 229
add
push constant 24576
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 261
add
push constant 24569
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 293
add
push constant 23668
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 325
add
push constant 28944
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 357
add
push constant 26528
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 389
add
push constant 20416
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 421
add
push constant 24576
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 453
add
push constant 24576
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 485
add
push constant 20480
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 517
add
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 549
add
push constant 32000
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 581
add
push constant 32320
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 613
add
push constant 32641
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 645
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 677
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 709
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 741
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 773
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 805
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 837
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 869
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 901
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 933
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 965
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 997
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1029
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1061
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1093
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1125
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1157
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1189
add
push constant 32513
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1221
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1253
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1285
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1317
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1349
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1381
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1413
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1445
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1477
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1509
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1541
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1573
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1605
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1637
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1669
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1701
add
push constant 32639
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1733
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1765
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1797
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1829
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1861
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1893
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1925
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1957
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1989
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2021
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2053
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2085
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2117
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2149
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2181
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2213
add
push constant 32636
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2245
add
push constant 32626
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2277
add
push constant 32636
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2309
add
push constant 32636
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2341
add
push constant 32628
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2373
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2405
add
push constant 32513
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2437
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2469
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2501
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2533
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2565
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2597
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2629
add
push constant 32635
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2661
add
push constant 32629
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2693
add
push constant 32535
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2725
add
push constant 32599
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2757
add
push constant 32535
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2789
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2821
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2853
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2885
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2917
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2949
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2981
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3013
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3045
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3077
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3109
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3141
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 3173
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Info.earse 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
