function Phone.draw 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 30720
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 30848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 96
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 32744
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
add
push constant 32766
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
add
push constant 32764
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 480
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 1536
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 1025
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 1057
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 1089
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 1121
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 482
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 514
add
push constant 112
call Memory.poke 2
pop temp 0
push local 0
push constant 546
add
push constant 896
call Memory.poke 2
pop temp 0
push local 0
push constant 578
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 610
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 642
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 674
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 706
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 1157
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1189
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1221
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1253
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1285
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1317
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1349
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1381
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1413
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1445
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1477
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1509
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1541
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1573
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1605
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1637
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1669
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1701
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1733
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1765
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1797
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1829
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1861
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2053
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2085
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2117
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2149
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2181
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2213
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2245
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2277
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2309
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2341
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2373
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2405
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2437
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2469
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2501
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2533
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2565
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2597
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 2629
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1158
add
push constant 3841
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1190
add
push constant 3585
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1222
add
push constant 3585
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1254
add
push constant 3645
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1286
add
push constant 29123
call Memory.poke 2
pop temp 0
push local 0
push constant 1318
add
push constant 29123
call Memory.poke 2
pop temp 0
push local 0
push constant 1350
add
push constant 28675
call Memory.poke 2
pop temp 0
push local 0
push constant 1382
add
push constant 28675
call Memory.poke 2
pop temp 0
push local 0
push constant 1414
add
push constant 28675
call Memory.poke 2
pop temp 0
push local 0
push constant 1446
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1478
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1510
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1542
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1574
add
push constant 29155
call Memory.poke 2
pop temp 0
push local 0
push constant 1606
add
push constant 29171
call Memory.poke 2
pop temp 0
push local 0
push constant 1638
add
push constant 29171
call Memory.poke 2
pop temp 0
push local 0
push constant 1670
add
push constant 29171
call Memory.poke 2
pop temp 0
push local 0
push constant 1702
add
push constant 29123
call Memory.poke 2
pop temp 0
push local 0
push constant 1734
add
push constant 29123
call Memory.poke 2
pop temp 0
push local 0
push constant 1766
add
push constant 29183
call Memory.poke 2
pop temp 0
push local 0
push constant 1798
add
push constant 29183
call Memory.poke 2
pop temp 0
push local 0
push constant 1830
add
push constant 29183
call Memory.poke 2
pop temp 0
push local 0
push constant 1862
add
push constant 29183
call Memory.poke 2
pop temp 0
push local 0
push constant 2054
add
push constant 29183
call Memory.poke 2
pop temp 0
push local 0
push constant 2086
add
push constant 29183
call Memory.poke 2
pop temp 0
push local 0
push constant 2118
add
push constant 29183
call Memory.poke 2
pop temp 0
push local 0
push constant 2150
add
push constant 3585
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2182
add
push constant 7681
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2214
add
push constant 7705
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2246
add
push constant 7705
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2278
add
push constant 15897
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2310
add
push constant 15897
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2342
add
push constant 15897
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2374
add
push constant 15897
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2406
add
push constant 15897
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2438
add
push constant 32281
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2470
add
push constant 32281
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2502
add
push constant 32257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2534
add
push constant 32257
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2566
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 2598
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 2630
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 1159
add
push constant 3647
call Memory.poke 2
pop temp 0
push local 0
push constant 1191
add
push constant 7743
call Memory.poke 2
pop temp 0
push local 0
push constant 1223
add
push constant 15935
call Memory.poke 2
pop temp 0
push local 0
push constant 1255
add
push constant 32319
call Memory.poke 2
pop temp 0
push local 0
push constant 1287
add
push constant 456
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1319
add
push constant 456
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1351
add
push constant 456
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1383
add
push constant 456
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1415
add
push constant 456
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1447
add
push constant 4545
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1479
add
push constant 12737
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1511
add
push constant 29121
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1543
add
push constant 3647
call Memory.poke 2
pop temp 0
push local 0
push constant 1575
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 1607
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 1639
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 1671
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 1703
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 1735
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 1767
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 1799
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 1831
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 1863
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 2055
add
push constant 800
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2087
add
push constant 800
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2119
add
push constant 800
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2151
add
push constant 784
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2183
add
push constant 15472
call Memory.poke 2
pop temp 0
push local 0
push constant 2215
add
push constant 15472
call Memory.poke 2
pop temp 0
push local 0
push constant 2247
add
push constant 904
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2279
add
push constant 967
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2311
add
push constant 967
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2343
add
push constant 967
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2375
add
push constant 967
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2407
add
push constant 15423
call Memory.poke 2
pop temp 0
push local 0
push constant 2439
add
push constant 15391
call Memory.poke 2
pop temp 0
push local 0
push constant 2471
add
push constant 15391
call Memory.poke 2
pop temp 0
push local 0
push constant 2503
add
push constant 993
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2535
add
push constant 993
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2567
add
push constant 1009
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2599
add
push constant 1009
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2631
add
push constant 1009
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1160
add
push constant 912
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1192
add
push constant 904
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1224
add
push constant 900
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1256
add
push constant 898
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1288
add
push constant 897
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1320
add
push constant 15487
call Memory.poke 2
pop temp 0
push local 0
push constant 1352
add
push constant 15487
call Memory.poke 2
pop temp 0
push local 0
push constant 1384
add
push constant 15487
call Memory.poke 2
pop temp 0
push local 0
push constant 1416
add
push constant 15487
call Memory.poke 2
pop temp 0
push local 0
push constant 1448
add
push constant 905
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1480
add
push constant 909
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1512
add
push constant 911
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1544
add
push constant 912
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1576
add
push constant 912
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1608
add
push constant 15472
call Memory.poke 2
pop temp 0
push local 0
push constant 1640
add
push constant 15472
call Memory.poke 2
pop temp 0
push local 0
push constant 1672
add
push constant 15472
call Memory.poke 2
pop temp 0
push local 0
push constant 1704
add
push constant 15472
call Memory.poke 2
pop temp 0
push local 0
push constant 1736
add
push constant 912
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1768
add
push constant 912
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1800
add
push constant 912
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1832
add
push constant 912
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1864
add
push constant 912
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2056
add
push constant 993
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2088
add
push constant 993
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2120
add
push constant 993
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2152
add
push constant 7199
call Memory.poke 2
pop temp 0
push local 0
push constant 2184
add
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 2216
add
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 2248
add
push constant 7199
call Memory.poke 2
pop temp 0
push local 0
push constant 2280
add
push constant 993
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2312
add
push constant 993
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2344
add
push constant 9185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2376
add
push constant 9185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2408
add
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2440
add
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2472
add
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2504
add
push constant 25569
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2536
add
push constant 7199
call Memory.poke 2
pop temp 0
push local 0
push constant 2568
add
push constant 7199
call Memory.poke 2
pop temp 0
push local 0
push constant 2600
add
push constant 7199
call Memory.poke 2
pop temp 0
push local 0
push constant 2632
add
push constant 7199
call Memory.poke 2
pop temp 0
push local 0
push constant 617
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 649
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1161
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1193
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1225
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1257
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1289
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1449
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1481
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1513
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1545
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1577
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1737
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1769
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1801
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1833
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1865
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 2057
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 2089
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 2121
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 2153
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 2185
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 2217
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 2249
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 2281
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 2313
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 2345
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2377
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2409
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 2441
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 2473
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 2505
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 2537
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 2569
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 2601
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 2633
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 16265
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 16297
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 490
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 522
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 554
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 586
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 682
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 714
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 746
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 778
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1290
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1322
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1354
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1386
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 11498
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11530
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11562
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11594
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11626
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11658
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11690
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11722
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11754
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11786
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11818
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11850
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11882
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11914
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11946
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11978
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 12010
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 12042
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 12074
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 12106
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 12138
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 12170
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 12202
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 12234
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 12266
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 12298
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 12330
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 12362
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 12394
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 12426
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 12458
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 12490
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 12522
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 12554
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 12586
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 12618
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 12650
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 12682
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 12714
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 12746
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 12778
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 12810
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 12842
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 12874
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 12906
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 12938
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 12970
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13002
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13034
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13066
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13098
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13130
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13162
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13194
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 13226
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13258
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13290
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13322
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13354
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13386
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 13418
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13450
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13482
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13514
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13546
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13578
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 13610
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13642
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13674
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13706
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13738
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13770
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13802
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13834
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13866
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 13898
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13930
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13962
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 13994
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14026
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14058
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 14090
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14122
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14154
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14186
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14218
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14250
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 14282
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14314
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14346
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14378
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14410
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14442
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14474
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14506
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14538
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 14570
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14602
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14634
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14666
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14698
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14730
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 14762
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14794
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14826
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14858
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14890
add
push constant 16898
call Memory.poke 2
pop temp 0
push local 0
push constant 14922
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 14954
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14986
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15018
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15050
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15082
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15114
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15146
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15178
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 15210
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15242
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15274
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15306
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15338
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15370
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15402
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15434
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15466
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15498
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15530
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15562
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15594
add
push constant 510
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 15626
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 15658
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 15690
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 15722
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 15754
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 15786
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 15818
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 15850
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 15882
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 15914
add
push constant 12802
call Memory.poke 2
pop temp 0
push local 0
push constant 15946
add
push constant 12802
call Memory.poke 2
pop temp 0
push local 0
push constant 15978
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 16010
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 16042
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 16074
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 16106
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 16138
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 16170
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 16202
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 16234
add
push constant 514
call Memory.poke 2
pop temp 0
push local 0
push constant 16266
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 523
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 555
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 587
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 619
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 651
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 683
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 715
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 747
add
push constant 30
call Memory.poke 2
pop temp 0
push local 0
push constant 779
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1035
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1067
add
push constant 14336
call Memory.poke 2
pop temp 0
push local 0
push constant 1099
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 1131
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 1163
add
push constant 60
call Memory.poke 2
pop temp 0
push local 0
push constant 1195
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1227
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1259
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1387
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1419
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 1451
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 11499
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 11531
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 11563
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 11595
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 11627
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 11659
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 11691
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 11723
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 11755
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 11787
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 12171
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 12203
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 12235
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 12267
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 12299
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 12331
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 12363
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 12395
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 12427
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 12459
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 12491
add
push constant 2063
call Memory.poke 2
pop temp 0
push local 0
push constant 12523
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 12555
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 12587
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 12619
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 12651
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 12683
add
push constant 2063
call Memory.poke 2
pop temp 0
push local 0
push constant 12715
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 12747
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 12779
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 12811
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 12843
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 12875
add
push constant 2063
call Memory.poke 2
pop temp 0
push local 0
push constant 12907
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 12939
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 12971
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13003
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13035
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13067
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13099
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13131
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13163
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13195
add
push constant 2063
call Memory.poke 2
pop temp 0
push local 0
push constant 13227
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13259
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13291
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13323
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13355
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13387
add
push constant 2063
call Memory.poke 2
pop temp 0
push local 0
push constant 13419
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13451
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13483
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13515
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13547
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13579
add
push constant 2063
call Memory.poke 2
pop temp 0
push local 0
push constant 13611
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13643
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13675
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13707
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13739
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13771
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13803
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13835
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 13867
add
push constant 2063
call Memory.poke 2
pop temp 0
push local 0
push constant 13899
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13931
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13963
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 13995
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14027
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14059
add
push constant 2063
call Memory.poke 2
pop temp 0
push local 0
push constant 14091
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14123
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14155
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14187
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14219
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14251
add
push constant 2063
call Memory.poke 2
pop temp 0
push local 0
push constant 14283
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 14315
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 14347
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 14379
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 14411
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 14443
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 14475
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 14507
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 14539
add
push constant 2063
call Memory.poke 2
pop temp 0
push local 0
push constant 14571
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14603
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14635
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14667
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14699
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14731
add
push constant 2063
call Memory.poke 2
pop temp 0
push local 0
push constant 14763
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14795
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14827
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14859
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14891
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 14923
add
push constant 2063
call Memory.poke 2
pop temp 0
push local 0
push constant 14955
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 14987
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15019
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15051
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15083
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15115
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15147
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15179
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 15211
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15243
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15275
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15307
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15339
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15371
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15403
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15435
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15467
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15499
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15531
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15563
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 15595
add
push constant 2079
call Memory.poke 2
pop temp 0
push local 0
push constant 15627
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 15659
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 15691
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 15723
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 15755
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 15787
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 15819
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 15851
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 15883
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 15915
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 15947
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 15979
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 16011
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 16043
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 16075
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 16107
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 16139
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 16171
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 16203
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 16235
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 16267
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 16299
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 1036
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1068
add
push constant 30
call Memory.poke 2
pop temp 0
push local 0
push constant 1100
add
push constant 96
call Memory.poke 2
pop temp 0
push local 0
push constant 1132
add
push constant 896
call Memory.poke 2
pop temp 0
push local 0
push constant 1164
add
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1196
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 1228
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 1260
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 1292
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1324
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1356
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1388
add
push constant 24576
call Memory.poke 2
pop temp 0
push local 0
push constant 1420
add
push constant 12288
call Memory.poke 2
pop temp 0
push local 0
push constant 1452
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 13165
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 13261
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 13485
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 13741
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 13965
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 14189
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 14317
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 14829
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 15437
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 12814
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 12846
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 13070
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 13102
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 13486
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 13518
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 13678
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 13774
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 13806
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 14382
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 14414
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 14510
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 14958
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 14990
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 16046
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 16078
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 12463
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 12655
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 12975
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 13711
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14031
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14191
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14447
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14767
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 14863
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 15151
add
push constant 2
call Memory.poke 2
pop temp 0
push constant 0
return
function Phone.earse 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
